In [39]:
import pandas as pd
import numpy as np

In [40]:
df=pd.read_csv(r"C:\Users\sudee\Downloads\pbiTaskDataMay21.csv")
df.head()

,id,k3id,clearing_order_id,order_id,buy_sell,mmy,underlying_settle_method,exchange_code,account,clearing_account,...,order_state,price,last_price,strike_price,trader,trader_ref,exchange,order_group_quantity,version_num,order_set_status
0,12774010,12774008,425113764,2000124,Sell,NaN,Fin,GUU,NaN,AC0008,...,Inactive,2.2181,0,NaN,John Obero Smith,jos_nfc,IFED,NaN,1,Replace
1,12749063,12749061,425113764,2000124,Sell,NaN,Fin,GUU,NaN,AC0008,...,Inactive,2.2181,0,NaN,John Obero Smith,jos_nfc,IFED,NaN,1,Replace
2,12800013,12800011,425113764,2000124,Sell,NaN,Fin,GUU,NaN,AC0008,...,Inactive,2.2181,0,NaN,John Obero Smith,jos_nfc,IFED,NaN,1,Replace
3,12774262,12774260,425113764,2000124,Sell,NaN,Fin,GUU,NaN,AC0008,...,Inactive,2.2181,0,NaN,John Obero Smith,jos_nfc,IFED,NaN,1,Replace
4,12839029,12839027,425113764,2000121,Sell,NaN,Fin,GUU,NaN,AC0008,...,Inactive,2.2181,0,NaN,John Obero Smith,jos_nfc,IFED,NaN,1,Replace

In [41]:
df.shape

(3628, 32)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3628 entries, 0 to 3627
Data columns (total 32 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           3628 non-null   int64
 1   k3id                         3628 non-null   int64
 2   clearing_order_id            3628 non-null   int64
 3   order_id                     3628 non-null   int64
 4   buy_sell                     3628 non-null   object
 5   mmy                          0 non-null      float64
 6   underlying_settle_method     2727 non-null   object
 7   exchange_code                3261 non-null   object
 8   account                      10 non-null     object
 9   clearing_account             3628 non-null   object
 10  legal_entity                 3628 non-null   object
 11  exec_type                    3628 non-null   object
 12  exec_id                      3628 non-null   object
 13  execution_time               3628 non-null   object
 14  trans_type                   3628 non-null   object
 15  execution_time_only_morning  753 non-null    float64
 16  execution_time_only_evening  2875 non-null   float64
 17  filled_quantity              3628 non-null   int64
 18  open_quantity                3628 non-null   int64
 19  order_quantity               3628 non-null   int64
 20  option_type                  0 non-null      float64
 21  order_type                   3614 non-null   object
 22  order_state                  3628 non-null   object
 23  price                        3628 non-null   float64
 24  last_price                   3628 non-null   int64
 25  strike_price                 0 non-null      float64
 26  trader                       3628 non-null   object
 27  trader_ref                   3628 non-null   object
 28  exchange                     3593 non-null   object
 29  order_group_quantity         623 non-null    float64
 30  version_num                  3628 non-null   int64
 31  order_set_status             3628 non-null   object
dtypes: float64(7), int64(9), object(16)
memory usage: 907.1+ KB

In [43]:
col=[ 'buy_sell', 
       'underlying_settle_method', 'exchange_code', 'account',
       'clearing_account', 'legal_entity', 'exec_type', 'exec_id',
       'execution_time', 'trans_type', 'execution_time_only_morning',
       'execution_time_only_evening', 'filled_quantity', 'open_quantity',
       'order_quantity', 'option_type', 'order_type', 'order_state', 'price',
       'last_price', 'strike_price', 'trader', 'trader_ref', 'exchange',
       'order_group_quantity', 'version_num', 'order_set_status']
for i in col:
    print(df[i].unique())

['Sell' 'Buy']
['Fin' nan 'Phys']
['GUU' 'HOF' 'TRL' nan 'TZZ' 'ARN' 'H' 'AOP' 'NEP' 'TDQ' 'JFL' 'SOY' 'I'
 'BNB' 'TMW' 'PMI' 'ERK' 'N' 'B' 'T' 'C' '14Y' 'BS1' 'YJ8' 'SB' 'Z1Q' 'CC'
 'CGM' 'ALG' 'DDF' 'ARI' 'TMF' 'TMR' 'HHD' 'CIN' 'YDG' 'SXT' 'NVE' 'CGB'
 'TRZ' 'P1X' 'MCD' 'ADD' 'ADB' 'Z7K' 'AOD' 'ULN' 'XS2' 'YDJ' 'YDY' 'ATW'
 'FFM' 'HBT' 'ERN' 'NYH' 'NAY' 'ICO' 'MCO' 'EKI' 'EKF' 'NEV' 'EVN' 'MSO'
 'HEB' 'ERH' 'NEB']
[nan 'Non-segregated']
['AC0008' 'AC0105' 'AC0025' 'AC0120' 'AC0000']
['National Fuels Corp Ottawa' 'National Fuels Canada'
 'National Fuels Corp']
['Replace' 'Canceled' 'Partial Fill' 'Fill' 'New']
['425113764:2:Unfill' '425113764:3:Unfill' '452204708:3:Unfill' ...
 '877586868:1:Ack' '910108661:1:Ack' '971386640:1:Ack']
['12/5/2022 1:35' '13-05-2022 1:35:00 AM' '17-05-2022 1:35:00 AM' ...
 '26-10-2021 11:31:32 AM' '26-05-2021 4:26:47 AM' '26-10-2021 11:31:58 AM']
['New']
[ 135.  130. 1139. 1131. 1137. 1141.  905.  910.  615.  620. 1111.   12.
   nan 1132.  414.  426.  416. 1037. 1036. 1058.]
[  nan 2200. 1414. 1801. 2333. 2329. 2331. 2328. 2325. 1512. 2110. 2150.
 1417. 1740. 2031. 2119. 1550. 2015. 2018. 1737. 1750. 1343. 1543. 1914.
 1530. 2149. 1624. 1628. 1751. 2136. 2307. 2315. 2306. 2308. 2305. 2145.
 1900. 2154. 1333. 1945. 1519. 1800. 1600. 1508. 1730. 1601. 1507. 1533.
 1816. 1613. 1732. 1615. 1704. 2002. 1449. 1500. 2309. 2313. 2311. 2312.
 1349. 1321. 1322. 1808. 1241. 1859. 1749. 1756. 1757. 1952. 1342. 1249.
 2129. 1244. 1902. 1323. 1901. 1850. 1803. 1853. 1352. 1350. 1353. 1748.
 1354. 1858. 1758. 1555. 1553. 1557. 1548. 1552. 1415. 1419. 1418. 1420.
 1416. 1802. 1804. 1835. 1807. 1744. 1810. 1806. 2337. 2341. 2336. 1849.
 1728. 1357. 1755. 1614. 1725. 2052. 2106. 2032. 2122. 1738. 1721. 1727.
 2033. 1453. 2023. 2022. 1723. 1546. 1942. 1331. 1742. 2000. 1834. 2323.
 2338. 2335. 2339. 2322. 2324. 2320. 2326. 2316. 2318. 2314. 2317. 2310.
 2321. 2319. 2304. 1243. 1647. 1446. 1745. 1621. 1927. 1709. 1932. 1336.
 1503. 1410. 1648. 1603. 1547. 1431. 1425. 1240. 1435. 1535. 1609. 1436.
 1528. 1707. 1608. 1501. 1307. 1346. 1305. 1520. 1444. 1735. 2126. 2016.
 1408. 1817. 1523. 1635. 1434. 1337. 1532. 2152. 1708. 1729. 2037. 1719.
 1733. 1607. 2155. 1746. 1544. 1642. 1741. 1537. 2125. 1909. 1611. 1612.
 1430. 1259. 1441. 1518. 2132. 1711. 1812. 2123. 1610. 1710. 1937. 1401.
 2114. 2120. 1653. 1811. 1636. 1643. 1344. 1637. 1545. 1413. 1700. 2005.
 1443. 1340. 1250. 1540. 1558. 1256. 1517. 1312. 1258. 1539. 2035. 1252.
 1848. 1625. 1724. 2104. 1341. 1214. 1411. 1212. 1622. 2117. 1718. 1657.
 1556. 1959. 1833. 1847. 1345. 1638. 1936. 1351. 1753. 1656. 1805. 1734.
 1716. 1652. 1702. 1455. 1456. 1454. 1303. 1521. 1332. 1743. 2118. 1827.
 1602. 1739. 1542. 1302. 1406. 1405. 1404. 1736. 1314. 1541. 1457. 2034.
 1356. 1407. 1451. 1606. 1714. 1522. 1908. 1747. 1554. 1809. 1951. 1320.
 1247. 2102. 1726. 2116. 1846. 1935. 1752. 1717. 1958. 1257. 1910. 1437.
 1639. 1538. 1525. 1335. 1224. 1347. 1842.]
[    0     1  2500     2     5   100    20    25    10   150    15    50
  5000     3     4 20000    48     7     6   292 12500  1000   120    18
    91     9   500   220   245    11    56    13   101   230     8 15000
 10000  7500]
[   45  1000   500    50     1   100    11  2500    25    15  7500     5
    10     3  5000    17 12500     0    20     2     6    30     7   492
     4   499    13 30000 15000   200    60 25000 37500   300 17500 40000
    12 10000 47500 20000 60000 35000    26 22500 42500 50000   400   350
   494   493   498   497   496     9     8    37    29    36    27    35
    24    18    23    33    32    19    34    38    16    14    21    31
    28    22    44    91    56   503   220   245   101   150   230   302
    51   120  1001]
[   45  1000   500    50     1   100    11  2500    25    15  7500     5
    10 17500    19     6   150 12500     7     2     4    20    30   200
    13 30000 15000 10000    60 25000 37500   300 40000    12 47500 20000
 60000 35000    26 22500 42500 50000  5000     3  1001    51   503   302
     8    44     9   120    18    91   220   245    56   101   230]
[nan]
['Limit' nan]
['Inactive' 'Withdrawn' 'Active' 'Consummated']
[ 2.21810e+00  2.22010e+00  2.21460e+00  2.30410e+00  2.31280e+00
  2.51360e+00  1.00000e+00  2.29750e+00  2.30450e+00  2.29790e+00
 -1.85000e-01 -1.82000e-01  2.25400e+00  5.33500e+01  5.35500e+01
  2.40000e-01 -9.90000e-02 -1.75000e-02  2.47000e+01 -1.30000e-01
 -9.25000e-02  1.95660e+00  2.50000e+00 -3.15000e+00  2.50000e-01
 -3.26000e+00 -6.75000e-02  2.51700e+00  2.84000e+01  1.98500e+01
  8.95000e+00 -8.50000e-02 -6.30000e-02  2.39000e+01 -6.20000e-02
 -3.36000e+00  6.92490e+02  6.92480e+02  1.03009e+03  7.76000e+00
  6.44500e+01 -1.44000e+01  2.30490e+00  5.26000e+01  2.23000e+01
  2.26000e+01  4.62000e+01  2.15500e+01  4.58000e+01  5.25000e+01
  4.65500e+01  4.60000e+01  2.19000e+01  4.63500e+01  3.44000e+01
  3.42500e+01  1.87510e+00  7.21900e+01  5.56300e+01  6.50000e+01
  1.80780e+00  5.57700e+01  7.37600e+01  1.80720e+00  5.43300e+01
  6.03100e+01  7.21500e+01  6.14600e+01  2.04570e+00  6.56500e+01
  6.45000e+01  2.10970e+00  5.58700e+01  6.50200e+01  1.80000e+03
  2.04650e+00  1.74000e+03  1.80750e+00  0.00000e+00  8.20000e+01
  6.50100e+01  2.95600e+00  2.87940e+00  2.15300e+00  2.98460e+00
  1.16640e+00  1.36270e+00  6.90000e+01  6.48400e+01  1.80690e+00
  5.46000e+02  1.87350e+00  5.45750e+02  4.00000e-02  5.10000e-01
  1.89000e+00  2.10860e+00  6.27600e+01  6.47100e+01  6.23100e+01
  2.20000e+01  3.30000e+01 -3.20000e+00  3.32000e+01  5.06250e-01
  1.60000e+01  2.75000e+01  3.00000e+00  6.76600e+01  5.00000e-01
  1.50000e+01  2.55200e+03  1.35160e+00  1.35680e+00  2.00900e+00
  2.10900e+00  6.08600e+01  1.87430e+00  6.20900e+01  1.79000e+00
  1.83620e+00  2.26130e+00 -1.17000e+01 -2.40000e-02  6.52320e+00
  3.72560e+00  2.43500e+00  2.29100e+00 -1.46000e+00 -1.29000e-01
  3.65000e+00 -1.08000e+00 -1.10000e+01 -1.25000e-01  7.46100e+00
  1.37350e+01  4.13100e+00  7.47000e+00  2.25310e+00  2.22800e+00
  1.42485e+01  2.21980e+00  2.24390e+00  3.59450e+00  2.24430e+00
  2.97000e+00  3.64870e+00  3.54750e+00  1.00130e+01  2.98060e+00
  2.23020e+00  2.92050e+00  2.58400e+00  2.74600e+00  2.24800e+00
  2.24210e+00  4.75000e+00  3.82000e+00  4.50000e+00  4.05400e+00
  2.10000e+00  3.75000e+00  5.00000e+00  4.00000e-01  2.00000e-02
 -5.00000e-04  1.00000e-03 -2.75000e-02  4.30000e-01 -2.00000e-02
  4.60000e-01  3.60000e-01  2.15000e-02  7.00000e-02  3.50000e-01
  4.50000e-01 -1.05000e-02  3.50000e-02  1.00000e-01 -4.50000e-01
 -4.75000e-02 -1.25000e-02 -9.95000e-02 -7.90000e-02 -7.00000e-02
  6.82600e+01  6.56000e+00  6.47500e+01 -1.06200e+01  5.46900e+01
  6.50900e+01  6.57300e+01  6.58400e+01  6.57900e+01  6.49700e+01
  6.51300e+01  2.57800e+03  2.53800e+03  2.98500e+01  2.53900e+03
  2.57600e+03  2.54100e+03  2.88000e+01  2.53600e+03  6.41400e+01
  2.58100e+03  6.51500e+01  1.22000e+00  5.71900e+01  2.76000e+01
  5.51200e+01  3.95150e+00  1.16170e+00  1.14010e+00  1.35360e+00
  1.35400e+00  2.24480e+00  2.90000e+00  6.54000e+01  5.28600e+01
  7.73000e+00  6.91200e+01  5.50100e+01  4.22700e+01  6.53600e+01
  6.50800e+01  5.32400e+01  6.49800e+01  5.75300e+01  2.59200e+00
  3.00000e+01  2.30000e+01  5.50000e+01  8.15000e+00  6.57400e+01
  6.57200e+01  5.99200e+01  7.01900e+01  2.87500e+01  8.26000e+00
  1.80670e+00  2.74500e+01  5.45250e+02  1.90000e+00  7.02400e+01
  5.11250e-01  5.47500e-01  5.31200e+01  4.40000e+01  1.23400e+03
  3.32500e+01  3.20000e+01  3.36000e+02  1.20000e+01  5.16250e-01
  5.53750e-01  2.40000e+01  4.20000e+01  1.16150e+00  1.16660e+00
  1.13970e+00  1.16130e+00  1.16300e+00  1.16620e+00  1.16160e+00
  1.35230e+00  1.37000e+00  1.33480e+00  2.08570e+00  2.85460e+00
  6.56600e+01  6.38100e+01  6.44800e+01  6.50700e+01  7.20800e+01
  5.50800e+01  6.57500e+01  6.08200e+01  6.57100e+01  5.99400e+01
  6.50300e+01  6.54600e+01  7.02200e+01  6.30000e+01  7.20900e+01
  2.07860e+00  7.08900e+01  5.62300e+01  5.83500e+01  6.50600e+01
  5.47000e+02  4.22500e+01  2.22650e+00 -1.10000e+00  3.07500e+01
  7.20000e+00  2.88500e+01  1.87200e+01  2.62500e+01  3.08000e+01
  2.50000e+01  2.56000e+01  4.45000e+00  1.37400e+01  2.54500e+01
  2.68000e+01  1.17500e+01  2.80000e+01  2.65000e+01  3.06000e+01
  2.79500e+01  1.84000e+01  7.55000e+00 -3.30000e+00  3.19500e+01
  3.26000e+01 -1.35000e+00 -1.05000e+00 -1.06000e+01 -1.09000e+01
 -3.40000e+00  1.37500e+01 -3.10000e+00  3.53850e+00  2.21910e+00
  3.93220e+00  3.28150e+00  3.92950e+00  3.54040e+00  3.24950e+00
  5.99200e+00  3.16870e+00  2.92450e+00  9.99720e+00  2.34900e+00
  2.23700e+00 -1.41500e+01  4.73000e+00  9.37000e+00  2.13800e+00
  3.05500e+01  8.55000e+00  2.10910e+00]
[   0   68    7   28   65  -11   55   46    8   66    2    9   63   25
   24 2578 2538   30    3 2539   20 2576 2541   29 2536   64 2581    1
   57    4   53   69   42   58   22   23   60   70   27  545   44 1234
   33   32  336   12   61   72   71   56   43  547   -1   31   19   26
   14   18   -3   10    6  -14    5]
[nan]
['John Obero Smith' 'Xylene Rhegis' 'Gyllenhal Sons']
['jos_nfc' 'xr_nfc' 'gs_nfc']
['IFED' 'IFEU' 'IFLX' 'IEPA' nan 'IFUS']
[       nan -5.000e+02 -1.000e+01 -4.000e+00  1.000e+03 -6.000e+00
  8.000e+00  1.200e+01  5.000e+01 -1.000e+02 -2.500e+01 -2.000e+00
  2.000e+00 -5.000e+01 -1.100e+01  5.000e+00  6.000e+00  4.000e+00
  3.000e+00 -2.000e+02  4.400e+01  1.000e+01  2.500e+03  1.000e+02
 -1.500e+01  1.500e+01 -5.000e+00  2.000e+01 -9.000e+00 -3.000e+00
  2.500e+01  9.100e+01  5.600e+01  1.100e+01  9.000e+00  3.000e+01
 -7.000e+00 -2.000e+01 -5.030e+02 -1.300e+01 -3.000e+01 -2.200e+02
 -2.450e+02  1.300e+01  1.800e+01 -1.010e+02  7.000e+00 -1.500e+02
 -2.300e+02 -3.020e+02 -1.000e+03 -5.100e+01 -2.500e+03 -4.500e+01
  5.000e+02  7.500e+03  1.750e+04  1.900e+01  1.500e+02 -1.250e+04
 -2.500e+04 -1.500e+04 -3.750e+04  3.000e+02  1.250e+04 -4.000e+04
 -1.200e+01  1.000e+04 -4.750e+04  2.000e+04 -6.000e+04 -3.500e+04
 -2.600e+01  3.000e+04  2.250e+04  2.000e+02 -4.250e+04  2.500e+04
  5.000e+04 -1.000e+04  6.000e+01 -5.000e+03  1.500e+04  5.000e+03
 -7.500e+03 -1.000e+00  1.000e+00 -1.200e+02 -1.001e+03]
[1]
['Replace' 'Canceled' 'Fill' 'New' 'Partial Fill']

In [44]:
df.nunique()

id                             3389
k3id                           3389
clearing_order_id               557
order_id                        659
buy_sell                          2
mmy                               0
underlying_settle_method          2
exchange_code                    65
account                           1
clearing_account                  5
legal_entity                      3
exec_type                         5
exec_id                        2028
execution_time                 1031
trans_type                        1
execution_time_only_morning      19
execution_time_only_evening     318
filled_quantity                  38
open_quantity                    87
order_quantity                   59
option_type                       0
order_type                        1
order_state                       4
price                           343
last_price                       63
strike_price                      0
trader                            3
trader_ref                        3
exchange                          5
order_group_quantity             88
version_num                       1
order_set_status                  5
dtype: int64

In [45]:
df.columns

Index(['id', 'k3id', 'clearing_order_id', 'order_id', 'buy_sell', 'mmy',
       'underlying_settle_method', 'exchange_code', 'account',
       'clearing_account', 'legal_entity', 'exec_type', 'exec_id',
       'execution_time', 'trans_type', 'execution_time_only_morning',
       'execution_time_only_evening', 'filled_quantity', 'open_quantity',
       'order_quantity', 'option_type', 'order_type', 'order_state', 'price',
       'last_price', 'strike_price', 'trader', 'trader_ref', 'exchange',
       'order_group_quantity', 'version_num', 'order_set_status'],
      dtype='object')

In [46]:
df['exec_type'].unique()

array(['Replace', 'Canceled', 'Partial Fill', 'Fill', 'New'], dtype=object)

In [47]:
df['order_set_status'].unique()

array(['Replace', 'Canceled', 'Fill', 'New', 'Partial Fill'], dtype=object)

In [48]:
df['order_state'].unique()

array(['Inactive', 'Withdrawn', 'Active', 'Consummated'], dtype=object)

In [49]:
df['exchange'].unique()

array(['IFED', 'IFEU', 'IFLX', 'IEPA', nan, 'IFUS'], dtype=object)

In [50]:
df['legal_entity'].unique()

array(['National Fuels Corp Ottawa', 'National Fuels Canada',
       'National Fuels Corp'], dtype=object)

In [51]:
df['trader'].unique()

array(['John Obero Smith', 'Xylene Rhegis', 'Gyllenhal Sons'],
      dtype=object)

In [52]:
df['account'].unique()

array([nan, 'Non-segregated'], dtype=object)

In [53]:
df['clearing_account'].unique()

array(['AC0008', 'AC0105', 'AC0025', 'AC0120', 'AC0000'], dtype=object)

In [54]:
df[df['order_id']==5007479]

,id,k3id,clearing_order_id,order_id,buy_sell,mmy,underlying_settle_method,exchange_code,account,clearing_account,...,order_state,price,last_price,strike_price,trader,trader_ref,exchange,order_group_quantity,version_num,order_set_status
731,2804088,2804086,322567048,5007479,Buy,NaN,Fin,N,NaN,AC0025,...,Withdrawn,1.8072,0,NaN,Gyllenhal Sons,gs_nfc,IFEU,NaN,1,Canceled
1128,2793139,2793137,322567048,5007479,Buy,NaN,Fin,N,NaN,AC0025,...,Inactive,1.8072,0,NaN,Gyllenhal Sons,gs_nfc,IFEU,NaN,1,Canceled
1129,2804064,2804062,322567048,5007479,Buy,NaN,Fin,N,NaN,AC0025,...,Inactive,1.8072,0,NaN,Gyllenhal Sons,gs_nfc,IFEU,NaN,1,Canceled
1130,2804042,2804040,322567048,5007479,Buy,NaN,Fin,N,NaN,AC0025,...,Inactive,1.8072,0,NaN,Gyllenhal Sons,gs_nfc,IFEU,NaN,1,Canceled
3188,2793048,2793046,322567048,5007479,Buy,NaN,Fin,N,NaN,AC0025,...,Active,1.8072,0,NaN,Gyllenhal Sons,gs_nfc,IFEU,7.0,1,Canceled

In [55]:
#find orders which are in changed from new to cancled state
col=['order_id','exec_type','trader','exchange_code','legal_entity','execution_time','order_quantity','clearing_account']
df1=df[col]
df1.shape

(3628, 8)

In [56]:
df1.head()

,order_id,exec_type,trader,exchange_code,legal_entity,execution_time,order_quantity,clearing_account
0,2000124,Replace,John Obero Smith,GUU,National Fuels Corp Ottawa,12/5/2022 1:35,45,AC0008
1,2000124,Replace,John Obero Smith,GUU,National Fuels Corp Ottawa,12/5/2022 1:35,45,AC0008
2,2000124,Replace,John Obero Smith,GUU,National Fuels Corp Ottawa,13-05-2022 1:35:00 AM,45,AC0008
3,2000124,Replace,John Obero Smith,GUU,National Fuels Corp Ottawa,13-05-2022 1:35:00 AM,45,AC0008
4,2000121,Replace,John Obero Smith,GUU,National Fuels Corp Ottawa,17-05-2022 1:35:00 AM,45,AC0008

In [57]:
df2=df1[df1['exec_type']=='New']
df2.shape

(623, 8)

In [58]:
df2.head()

,order_id,exec_type,trader,exchange_code,legal_entity,execution_time,order_quantity,clearing_account
3005,50000140,New,Gyllenhal Sons,NaN,National Fuels Corp,21-07-2021 3:20:41 PM,500,AC0000
3006,2210531,New,Gyllenhal Sons,NaN,National Fuels Corp,1/11/2021 13:32,10,AC0120
3007,2209313,New,Gyllenhal Sons,NaN,National Fuels Canada,13-05-2021 3:52:20 PM,4,AC0120
3008,50000132,New,Gyllenhal Sons,NaN,National Fuels Corp,21-07-2021 3:19:50 PM,500,AC0000
3009,2210530,New,Gyllenhal Sons,NaN,National Fuels Corp,1/11/2021 13:32,1000,AC0120

In [59]:
df3=df1[df1['exec_type']=='Canceled']
df3.shape

(484, 8)

In [60]:
df3.head()

,order_id,exec_type,trader,exchange_code,legal_entity,execution_time,order_quantity,clearing_account
703,2000122,Canceled,John Obero Smith,PMI,National Fuels Corp Ottawa,29-04-2022 11:11:00 AM,50,AC0105
704,2000109,Canceled,John Obero Smith,ERK,National Fuels Corp Ottawa,29-04-2022 11:11:00 AM,1,AC0105
705,2000110,Canceled,John Obero Smith,ERK,National Fuels Corp Ottawa,29-04-2022 11:11:00 AM,1,AC0105
706,2000117,Canceled,John Obero Smith,PMI,National Fuels Corp Ottawa,29-04-2022 11:11:00 AM,50,AC0105
707,2000107,Canceled,John Obero Smith,ERK,National Fuels Corp Ottawa,29-04-2022 11:11:00 AM,1,AC0105

In [61]:
df3=df3.drop(columns=['trader','exchange_code','legal_entity','order_quantity','clearing_account'], axis = 1)
df4 = pd.merge(df2,df3,on='order_id')

In [62]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 236 entries, 0 to 235
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          236 non-null    int64
 1   exec_type_x       236 non-null    object
 2   trader            236 non-null    object
 3   exchange_code     225 non-null    object
 4   legal_entity      236 non-null    object
 5   execution_time_x  236 non-null    object
 6   order_quantity    236 non-null    int64
 7   clearing_account  236 non-null    object
 8   exec_type_y       236 non-null    object
 9   execution_time_y  236 non-null    object
dtypes: int64(2), object(8)
memory usage: 20.3+ KB

In [63]:
df4['order_id'].nunique()

143

In [64]:
df4=df4.drop_duplicates(subset=['order_id'])

In [65]:
df4.head()

,order_id,exec_type_x,trader,exchange_code,legal_entity,execution_time_x,order_quantity,clearing_account,exec_type_y,execution_time_y
0,2210530,New,Gyllenhal Sons,NaN,National Fuels Corp,1/11/2021 13:32,1000,AC0120,Canceled,1/11/2021 13:33
1,7000370,New,Gyllenhal Sons,SB,National Fuels Corp,15-06-2021 5:43:12 PM,100,AC0120,Canceled,15-06-2021 7:14:36 PM
3,2209334,New,Gyllenhal Sons,NaN,National Fuels Canada,12/5/2021 16:09,5,AC0120,Canceled,15-06-2021 7:14:36 PM
7,60000117,New,Gyllenhal Sons,C,National Fuels Corp,8/7/2021 18:27,100,AC0120,Canceled,8/7/2021 22:00
8,50000131,New,Gyllenhal Sons,NaN,National Fuels Corp,21-07-2021 3:19:12 PM,200,AC0000,Canceled,21-07-2021 3:19:42 PM

In [66]:
df4.shape

(143, 10)

In [67]:
df4['execution_time_x'] = pd.to_datetime(df4['execution_time_x'])
df4['execution_time_y'] = pd.to_datetime(df4['execution_time_y'])

In [68]:
df4.head()

,order_id,exec_type_x,trader,exchange_code,legal_entity,execution_time_x,order_quantity,clearing_account,exec_type_y,execution_time_y
0,2210530,New,Gyllenhal Sons,NaN,National Fuels Corp,2021-01-11 13:32:00,1000,AC0120,Canceled,2021-01-11 13:33:00
1,7000370,New,Gyllenhal Sons,SB,National Fuels Corp,2021-06-15 17:43:12,100,AC0120,Canceled,2021-06-15 19:14:36
3,2209334,New,Gyllenhal Sons,NaN,National Fuels Canada,2021-12-05 16:09:00,5,AC0120,Canceled,2021-06-15 19:14:36
7,60000117,New,Gyllenhal Sons,C,National Fuels Corp,2021-08-07 18:27:00,100,AC0120,Canceled,2021-08-07 22:00:00
8,50000131,New,Gyllenhal Sons,NaN,National Fuels Corp,2021-07-21 15:19:12,200,AC0000,Canceled,2021-07-21 15:19:42

In [69]:
df4['spoof_time']=df4['execution_time_y']-df4['execution_time_x']

In [70]:
df4.shape

(143, 11)

In [71]:
df4.spoof_time

0         0 days 00:01:00
1         0 days 01:31:24
3     -173 days +03:05:36
7         0 days 03:33:00
8         0 days 00:00:30
              ...
230       0 days 00:00:02
231       0 days 01:31:34
233       0 days 00:00:02
234       0 days 00:32:01
235       0 days 10:28:02
Name: spoof_time, Length: 143, dtype: timedelta64[ns]

In [72]:

df4['spoof_time']=df4['spoof_time'].apply(lambda x : round(x.total_seconds() / 3600, 2 ))

In [73]:
df4.head()

,order_id,exec_type_x,trader,exchange_code,legal_entity,execution_time_x,order_quantity,clearing_account,exec_type_y,execution_time_y,spoof_time
0,2210530,New,Gyllenhal Sons,NaN,National Fuels Corp,2021-01-11 13:32:00,1000,AC0120,Canceled,2021-01-11 13:33:00,0.02
1,7000370,New,Gyllenhal Sons,SB,National Fuels Corp,2021-06-15 17:43:12,100,AC0120,Canceled,2021-06-15 19:14:36,1.52
3,2209334,New,Gyllenhal Sons,NaN,National Fuels Canada,2021-12-05 16:09:00,5,AC0120,Canceled,2021-06-15 19:14:36,-4148.91
7,60000117,New,Gyllenhal Sons,C,National Fuels Corp,2021-08-07 18:27:00,100,AC0120,Canceled,2021-08-07 22:00:00,3.55
8,50000131,New,Gyllenhal Sons,NaN,National Fuels Corp,2021-07-21 15:19:12,200,AC0000,Canceled,2021-07-21 15:19:42,0.01

In [74]:
df4.loc[df4['order_id']==5007479]

,order_id,exec_type_x,trader,exchange_code,legal_entity,execution_time_x,order_quantity,clearing_account,exec_type_y,execution_time_y,spoof_time
40,5007479,New,Gyllenhal Sons,N,National Fuels Canada,2021-04-28 13:36:42,7,AC0025,Canceled,2021-04-28 22:00:00,8.39

In [75]:
df4.to_csv('task.csv')

In [115]:
col=['order_id','exec_type','execution_time']
d1=df[col]
d1=d1.drop_duplicates()
d1.shape

(2536, 3)

In [137]:
final=d1.groupby(['exec_type'])

f1 = final.get_group('New')
f1.rename(columns={'exec_type': 'exec_type_1', 'execution_time': 'execution_time_1'}, inplace=True)
print(f1)

      order_id exec_type_1        execution_time_1
3005  50000140         New   21-07-2021 3:20:41 PM
3006   2210531         New         1/11/2021 13:32
3007   2209313         New   13-05-2021 3:52:20 PM
3008  50000132         New   21-07-2021 3:19:50 PM
3009   2210530         New         1/11/2021 13:32
...        ...         ...                     ...
3623   2209222         New   26-05-2021 4:26:47 AM
3624   2209217         New   26-05-2021 4:16:00 AM
3625  13008617         New  26-10-2021 11:31:58 AM
3626  13008626         New  26-10-2021 11:32:51 AM
3627  13002148         New  20-07-2020 11:32:15 AM

[543 rows x 3 columns]

C:\Users\sudee\AppData\Local\Temp\ipykernel_19988\3802019502.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f1.rename(columns={'exec_type': 'exec_type_1', 'execution_time': 'execution_time_1'}, inplace=True)

In [138]:

f2 = final.get_group('Fill')
f2.rename(columns={'exec_type': 'exec_type_2', 'execution_time': 'execution_time_2'}, inplace=True)
print(f2)

      order_id exec_type_2       execution_time_2
1934  13035499        Fill  15-06-2021 1:43:44 PM
1935  58500232        Fill  16-08-2021 9:29:42 PM
1936  13006016        Fill        10/6/2021 17:49
1937   1553135        Fill  27-04-2021 2:46:28 PM
1938   2209347        Fill        12/5/2021 17:45
...        ...         ...                    ...
2814  65001183        Fill  15-07-2020 1:03:20 PM
2835   2207828        Fill  17-08-2021 3:40:27 PM
2851   2209247        Fill         2/8/2021 17:35
2857   2207702        Fill  17-08-2021 2:08:01 PM
2878  58500118        Fill  17-08-2021 3:21:40 PM

[310 rows x 3 columns]

C:\Users\sudee\AppData\Local\Temp\ipykernel_19988\4288116309.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f2.rename(columns={'exec_type': 'exec_type_2', 'execution_time': 'execution_time_2'}, inplace=True)

In [139]:

f3 = final.get_group('Partial Fill')
f3.rename(columns={'exec_type': 'exec_type_3', 'execution_time': 'execution_time_3'}, inplace=True)
print(f3)

      order_id   exec_type_3        execution_time_3
1916  13035499  Partial Fill   15-06-2021 1:43:44 PM
1917   1551391  Partial Fill         1/11/2021 12:43
1932   2209233  Partial Fill   14-05-2021 4:47:16 PM
1933  13006007  Partial Fill         10/6/2021 17:49
2032  13008626  Partial Fill  26-10-2021 11:32:51 AM
2033  58500104  Partial Fill   17-06-2022 2:53:00 PM
2034  50000134  Partial Fill   21-07-2021 3:20:03 PM
2035  50000136  Partial Fill   21-07-2021 3:20:21 PM
2036  50000138  Partial Fill   21-07-2021 3:20:30 PM
2037  50000140  Partial Fill   21-07-2021 3:20:41 PM
2038  13007354  Partial Fill   28-04-2021 2:44:54 PM
2040   2209592  Partial Fill         11/6/2021 18:34
2041  13002574  Partial Fill   20-07-2020 2:49:52 PM
2042   2209245  Partial Fill          2/8/2021 17:35
2043  53250229  Partial Fill   16-08-2021 9:26:38 PM
2045  13007590  Partial Fill   22-09-2021 1:43:07 PM
2046  13128425  Partial Fill   15-06-2021 8:16:41 PM
2047  13010833  Partial Fill          5/8/2021 13:05
2048  13007284  Partial Fill   24-06-2021 2:08:47 PM
2049   5008980  Partial Fill   15-06-2021 6:17:02 PM
2050   5008982  Partial Fill   15-06-2021 6:17:08 PM
2051  58500121  Partial Fill   17-08-2021 3:23:07 PM
2052   5006076  Partial Fill   15-06-2021 4:35:04 PM
2053   5006440  Partial Fill   15-06-2021 4:35:49 PM
2054   5006443  Partial Fill   15-06-2021 5:35:04 PM
2055   5008766  Partial Fill   15-06-2021 5:35:49 PM
2056   5008975  Partial Fill   15-06-2021 6:16:34 PM
2057   5008978  Partial Fill   15-06-2021 6:34:56 PM
2058   5009070  Partial Fill   15-06-2021 6:35:37 PM
2059  15026011  Partial Fill   15-06-2021 3:33:20 PM
2060  13002456  Partial Fill   26-08-2021 2:34:15 PM
2061  13002489  Partial Fill   26-08-2021 2:34:56 PM
2062  13002496  Partial Fill   26-08-2021 2:35:41 PM
2063  13003161  Partial Fill   21-07-2021 1:37:17 PM
2078  13004652  Partial Fill         12/5/2021 15:32
2079   2209323  Partial Fill   25-05-2021 9:52:39 PM
2083   7000794  Partial Fill         10/6/2021 17:08
2090   7000805  Partial Fill         10/6/2021 17:08
2114   2209457  Partial Fill         10/6/2021 17:29
2115   2209459  Partial Fill         10/6/2021 17:29
2116   2209464  Partial Fill         10/6/2021 17:29
2123  65002587  Partial Fill          7/8/2020 20:37
2127   7000858  Partial Fill         10/6/2021 17:08
2132   2209340  Partial Fill         12/5/2021 17:25
2135   2209246  Partial Fill   25-05-2021 5:19:35 PM
2148   7000701  Partial Fill         10/6/2021 17:08
2186   7000892  Partial Fill         10/6/2021 17:08
2187   2209477  Partial Fill         10/6/2021 17:33
2188   2209479  Partial Fill         10/6/2021 17:33
2189   2209485  Partial Fill         10/6/2021 17:33
2199   7000749  Partial Fill         10/6/2021 17:08
2208  13010240  Partial Fill   19-05-2021 4:07:43 PM
2209   7000885  Partial Fill         10/6/2021 17:08
2214   2209330  Partial Fill   25-05-2021 9:55:19 PM

C:\Users\sudee\AppData\Local\Temp\ipykernel_19988\2184543984.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f3.rename(columns={'exec_type': 'exec_type_3', 'execution_time': 'execution_time_3'}, inplace=True)

In [140]:

f4 = final.get_group('Replace')
f4.rename(columns={'exec_type': 'exec_type_4', 'execution_time': 'execution_time_4'}, inplace=True)
print(f4)

      order_id exec_type_4       execution_time_4
0      2000124     Replace         12/5/2022 1:35
2      2000124     Replace  13-05-2022 1:35:00 AM
4      2000121     Replace  17-05-2022 1:35:00 AM
5      2000122     Replace         12/5/2022 1:35
7      2000122     Replace  13-05-2022 1:35:00 AM
...        ...         ...                    ...
1704   1500583     Replace  22-07-2020 5:42:00 PM
1706   1500153     Replace  26-07-2020 8:00:00 PM
1707   1500153     Replace  26-07-2020 9:10:00 PM
1708   1500153     Replace  26-07-2020 9:50:00 PM
1709   1500143     Replace  29-07-2020 6:34:34 PM

[1202 rows x 3 columns]

C:\Users\sudee\AppData\Local\Temp\ipykernel_19988\484061841.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f4.rename(columns={'exec_type': 'exec_type_4', 'execution_time': 'execution_time_4'}, inplace=True)

In [141]:

f5 = final.get_group('Canceled')
f5.rename(columns={'exec_type': 'exec_type_5', 'execution_time': 'execution_time_5'}, inplace=True)
print(f5)

      order_id exec_type_5        execution_time_5
703    2000122    Canceled  29-04-2022 11:11:00 AM
704    2000109    Canceled  29-04-2022 11:11:00 AM
705    2000110    Canceled  29-04-2022 11:11:00 AM
706    2000117    Canceled  29-04-2022 11:11:00 AM
707    2000107    Canceled  29-04-2022 11:11:00 AM
...        ...         ...                     ...
1911   2000123    Canceled  23-06-2021 11:16:34 PM
1912   2000119    Canceled  24-06-2021 11:14:03 PM
1913   2000103    Canceled  25-06-2021 11:17:37 PM
1914   2000103    Canceled  28-06-2021 11:21:50 PM
1915   2000102    Canceled  29-06-2021 11:17:35 PM

[427 rows x 3 columns]

C:\Users\sudee\AppData\Local\Temp\ipykernel_19988\1342336571.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f5.rename(columns={'exec_type': 'exec_type_5', 'execution_time': 'execution_time_5'}, inplace=True)

In [142]:
from functools import reduce
data_frames=[f1,f2,f3,f4,f5]
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['order_id'],
                                            how='outer'), data_frames)

In [145]:
df_merged.shape

(4947, 11)

In [146]:
df_merged.to_csv('merge.csv')